<h1 class="heading">Reactive Form Control</h1>
<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Sign up now</h2>
                        <form [formGroup]="UserForm" (ngSubmit)="save()">
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example1">First name</label>
                                        <input type="text" id="form3Example1" class="form-control"
                                            formControlName="First_name"   />
                                            <span *ngIf="UserForm.controls['First_name'].touched"  style="color: red;">Please Enter Valid Last Name</span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="form3Example2">Last name</label>
                                        <input type="text" class="form-control" formControlName="Last_name" />
                                        <span *ngIf="UserForm.controls['Last_name'].touched" style="color: red;">Please Enter Valid Last Name</span>
                                    </div>

                                </div>
                            </div>

                            <!-- Email input -->

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">Email address</label>
                                <input type="email" id="form3Example3" class="form-control" formControlName="Email" />
                                <span *ngIf="UserForm.controls['Email'].touched" style="color: red;">Please Enter Valid Email Address</span>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>