<!-- <input type="text" #Box (keyup)="getData(Box.value)" placeholder="keyUp Event"> <br /><br />
<input type="text" #Box2 (keydown)="getData(Box2.value)" placeholder="keydown Event"><br /><br />
<input type="text" #Box3 (input)="getData(Box3.value)" placeholder="Input Event"><br /><br /> -->
<!-- <p (mouseover)="OverMouse()">On Mouse over</p> -->

<!-- <button> Get Data</button> -->


<!-- <button (click)="fun1('Amit','Shukla')">Submit</button> -->

<!-- Counter-->


<!-- <Button (click)="counter('Add')"> + </Button>
{{count}}
<button (click)="counter('minuse')"> - </button> -->


<!-- Property Bindings -->

<!-- <input type="text" value="{{Name}}" disabled = {{disable}}>

<input type="text" [value]=Name [disabled] = disable  > -->