<h2>{{title}}</h2>

<!--------------If Else Condition-------->


<!-- <ng-container *ngIf="isDone;  then iAmDone; else iAmNotDone">
</ng-container>
<ng-template #iAmDone>
    It's Done!
</ng-template>
<ng-template #iAmNotDone>
    It's Not Done!
</ng-template>


<br /><br /><br /><br />

<h1 *ngIf="show;  then iAmDone1; else iAmNotDone1"> </h1>
<ng-template #iAmDone1>
    Amit
</ng-template>
<ng-template #iAmNotDone1>
    Shukla
</ng-template> -->


<!-----------Hiding Properties----------->

<!-- <h4>Hiding Property </h4>

<div [hidden]="Course.length !=0">
    !! No Courses Yet  !!
</div>

<div [hidden]="Course.length == 0 ">
    !! course is <b>{{Course}}</b>
<div> -->


<!---------Swith Case-------->



<!-- <div [ngSwitch]="color">
    <div *ngSwitchCase="'red'" style="color: red;"> Red Color </div>
    <div *ngSwitchCase="'blue'" style="color: blue;"> Blue Color </div>
    <div *ngSwitchCase="'green'" style="color: green;"> Green Color </div>
    <div *ngSwitchDefault="gdsd"> Unknown Color </div>
</div> -->



<!---------For Loop-------->

<!-- <b>Basics Of For Loop</b>
<div *ngFor="let item of Course">
    {{item}}
</div>

<b>Loop With Aray of Object</b>
<div *ngFor="let item of CourseDetils">
    {{item.Name}} <br />
    {{item.Duration}}<br />
    {{item.fee}}<br />


</div> -->









<!---------------          Custome Directive        ----------------->







<input type="text" appRedEl>




